<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row pt-4">
            <div class="col-md-4">
                <div class="logo ml-5">
                    <a href="javascript:void(0);"></a>
                    <span class="font-weight-bold ml-3">shopy c @DateTime.Now.Year your are right here</span>
                </div>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">about us</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">contact us</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">support</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2">
                <ul>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">our feed</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">terms and conditions</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">our privacy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">join us</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">live support</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <strong class="h4 font-weight-bold color-main">Payment methods</strong>
                <img src="~/Content/imgs/payment-methods.jpg" width="120" height="40" />
            </div>
        </div>
    </div>
</footer>