<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row pt-5">
            <div class="col-md-3 pl-5 logo">
                <div class="logo">
                    <a href="javascript:void(0);"></a>
                </div>
                <p class="font-weight-bold float-md-right">shopy c @DateTime.Now.Year your are right here</p>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">about us</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">contact us</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">support</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-2">
                <ul>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">our feed</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">terms and conditions</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">our privacy</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">join us</a>
                    </li>
                    <li class="d-block">
                        <a class="text-lowercase" href="javacript:void(0);">live support</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <strong class="h3 font-weight-bold color-main">Payment methods</strong>
                <img src="~/Content/imgs/payment-methods.jpg" width="120" height="40" />
            </div>
        </div>
    </div>
</footer>
<style>
    footer {
        background-color: #ffffff;
    }

    footer ul{
        list-style-type: disc !important;
    }

    .color-main {
        color: #ff8332;
    }

    a:hover, a:focus {
        color: #ff8332;
    }

   .logo a {
        margin: auto;
        height: 100px;
        width: 150px;
        display: block;
        background-image: url("/Content/imgs/shopy-logo.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

</style>