<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

                <!-- Content -->
                <img src="~/Content/imgs/shopy-logo.jpg" width="150" height="150"/>
                <p>shopy c @DateTime.Now.Year your are right here</p>

            </div>
            <!-- Grid column -->

            @*<hr class="clearfix w-100 d-md-none pb-3">*@

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">about us</a>
                    </li>
                    <li>
                        <a href="#!">contact us</a>
                    </li>
                    <li>
                        <a href="#!">support</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <ul>
                    <li>
                        <a href="#!">our feed</a>
                    </li>
                    <li>
                        <a href="#!">terms and conditions</a>
                    </li>
                    <li>
                        <a href="#!">our privacy</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <ul>
                    <li>
                        <a href="#!">join us</a>
                    </li>
                    <li>
                        <a href="#!">live support</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: #ff8332">Payment methods
        <img src="~/Content/imgs/payment-methods.jpg" width="120" height="40"/>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->


<style>
    footer {
        background-color: #ffffff;
    }
</style>