<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html" onclick="">
                        <i class="material-icons">home</i> Početna
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="">
                        <i class="material-icons">person</i> Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="page-header pl-3 bg-info" style="height:100px; background-color: #fff !important">
    <h2 class="title text-white">Logo here</h2>
    <img src="~/Content/imgs/shopy-logo.jpg" width="120" height="90" />
</div>   