<nav class="navbar navbar-expand-lg">
    <div class="container border-bottom">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/Content/imgs/email.svg" width="15" height="15" class="mr-1"><span class="text-lowercase font-weight-bold">info@shopy.com</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="~/Content/imgs/fax.svg" width="15" height="15" class="mr-1"><span class="text-lowercase font-weight-bold">453-5553-996</span>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/Content/imgs/facebook.svg" width="15" height="15" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/Content/imgs/twitter.svg" width="15" height="15" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/Content/imgs/g-plus.svg" width="15" height="15" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/Content/imgs/instagram.svg" width="15" height="15" />
                </a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg">
    <div class="container header-stickly">
        <div class="navbar-brand logo logo-nav">
            <a href="javascript:void(0);"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link selected" href="@Url.RouteUrl("Products", new { action = "List" })">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hot Deals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/Content/imgs/search.svg" width="20" height="20" />
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="~/Content/imgs/boy.svg" width="20" height="20" />
                </a>
            </li>
        </ul>
    </div>
</nav>