<div class="col-lg-12 card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-7 parent">
                <h5 class="text-uppercase nwl mr-2">news letter</h5>
                <span class="font-weight-normal font-italic ml-4">join us how to get all knews and special offers</span>
            </div>
            <div class="col-md-2 parent justify-content-center">
                <img src="/Content/imgs/email.svg" width="15" height="15" class="mr-1">
                <span class="font-italic text-center">type your mail here</span>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn text-uppercase font-weight-bold float-md-right join-us">join us</button>
            </div>
        </div>
    </div>
</div>