
@{
    ViewBag.Title = "ChangeCategoires";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Shopy.Admin.ViewModels;
@model ChangeProductCategoriesViewModel


<!-- ko with: productCategoriesManager -->
<h2>Add or remove categories for product @Model.Caption</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th colspan="2">Caption</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: assignedCategories">
            <tr>
                <td data-bind="text: CategoryId"></td>
                <td data-bind="text: Caption"></td>
                <td><a href="javascript: void(0);" class="btn btn-secondary" role="button" data-bind="click: $root.removeFromCategory">Remove</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row col-md-9">
        <div class="mb-3 col-md-6">
            <select data-bind="options: availableCategories,
                       optionsText: 'Caption',
                       value: selectedCategoryToAdd,
                       optionsCaption: 'Choose...'"></select>
        </div>
        <div class="col-md-4 mb-3">
            <a href="javascript: void(0);" data-bind="click: addToCategory" class="btn btn-success">Add</a>
        </div>
    </div>
</div>
<!-- /ko -->
<script type="text/javascript">
    var endpoints = {
        loadCategories: '@Url.RouteUrl("ProductCategories", new { uid = Model.ProductUid })',
        addToCategory: '@Url.RouteUrl("ProductCategories", new { action = "AddToCategory", uid = Model.ProductUid })',
        removeFromCategory: '@Url.RouteUrl("ProductCategories", new { action = "RemoveFromCategory", uid = Model.ProductUid })',
    };

    var Admin = Admin || {};
    var productCategoriesManager = new Admin.ProductCategoriesManager();
    productCategoriesManager.load();
    ko.applyBindings(productCategoriesManager);
</script>

