
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation();
}
@using Shopy.Admin.ViewModels;
@model ProductViewModel
<div class="col-md-12 order-md-1">

    <div class="col-md-6 mb-4">
        <h2>Edit product</h2>
    </div>
    @using (Html.BeginRouteForm("Products", new { controller = "Products", action = "Edit" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Uid);

        @Html.Partial("_AddEditForm", Model)
    }
</div>


