    footer {
        background-color: #ffffff;
    }

    .color-main {
        color: #ff8332;
    }

    .main-bg {
        background-color: #f0f0f5;
    }

   .logo a {
        height: 80px;
        width: 120px;
        display: block;
        background-image: url("/Content/imgs/shopy-logo.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }

   .price {
        color: #ff8332;
    }

    .join-us {
        color: #ffffff;
        background-color: #ff8332 !important;
        border-color: #ff8332 !important;
    }

    .nwl {
        color: #ff8332;
        font-size: 20px;
        font-weight: 900;
    }

    .parent {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .logo-nav a {
        height: 50px !important;
    }

    .navbar {
        box-shadow: none;
        margin-bottom: 0;
    }

    a:hover {
        color: #ff8332;
    }

    .list-group a:hover, 
    .list-group a:focus {
        color: #ff8332 !important;
    }

    .navbar .navbar-brand {
        height: auto;
    }

    .selected {
        color: #ff8332 !important;
        font-weight: 800 !important;
    }
	
	.sticky-top {
		position: fixed;
        top: 0px;
        transition: box-shadow 500ms ease, height 500ms ease;
        width: 100%;
        box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
        height: 60px !important;
	}

    .custom-checkbox
    .custom-control-input:checked~
    .custom-control-label::after {
        border: solid 3px #ff8332;
        background-image: none;
        background-color: #f7f7f9;
    }

    .list-group-item :first-child {
        margin-right: 0 !important;
    }

    .serif {
        font-weight: 700; 
        color: #3C4858; 
        font-family: 'Roboto Slab', 'Times New Roman', serif;
    }

    .card-title > a {
        color: #ff8332;
    }

    .btn-order {
        background-color: #ff8332 !important;
        border-radius: 20px;
    }

    .opt-img:hover,
    .opt-img:focus {
        opacity: 0.5;
    }

    a:hover, a:focus {
        color: #ff8332;
    }

    .card-img-top {
        width: 250px;
        height: 250px;
        max-height: 250px;
        max-width: 250px;
    }

    .main-img {
        width: 400px;
        height: 400px;
        max-height: 400px;
        max-width: 400px;
    }

    .opt-img {
        width: 100px;
        height: 100px;
        max-height: 100px;
        max-width: 100px;
    }

    .cart-img-small {
        width: 129px;
        height: 129px;
        max-height: 129px;
        max-width: 129px;
    }

    .price-filter-rng {
        background-color: #f7f7f9;
        color: black;
        border: none;
        width: 50%;
    }

    .load-more {
        background-color: #ffffff !important;
    }

    .slider.slider-info .noUi-connect {
        background-color: #000;
    }

    .slider.slider-info .noUi-handle {
        border-color: #000;
        background-color: #000;
    }

    .form-control, .is-focused .form-control {
        background-image: none;
    }

    .dot {
      height: 15px;
      width: 15px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }

    .dot-sm {
      height: 5px;
      width: 5px;
      background-color: #ff8332;
      border-radius: 50%;
      display: inline-block;
    }

    footer ul li a {
        padding: 0.3rem;
    }

    .nav-1st {
        height: 50px;
    }

    .nav-2nd {
        height: 80px;
    }
   

 