
@{
    ViewBag.Title = "Not found";
    Layout = null;
}

<h2>Resource not found</h2>
<div class="col-md-6 mb-3">
    <a href="@Url.RouteUrl("Products", new { action = "List" })" class="btn btn-secondary btn-lg btn-block">Go to home</a>
</div>