
@{
    ViewBag.Title = "Details";
}

@model Guid

<!-- ko with: productDetails -->
<div class="container">
    <div class="row">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img data-bind="attr: {src: { mainImage }}"class="card-img">
                    <div class="row mt-2 mb-2">

                        <!-- ko foreach: images -->
                        <div class="col-md-4">
                            <img data-bind="attr: {src: $data}, click: $root.setAsMain"class="card-img">
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title" data-bind="text: caption"></h1>
                        <p class="card-text" data-bind="html: description"><p>
                        <h3 class="card-title" data-bind="text: price"></h3>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                Choose Size 
                                <!-- ko foreach: sizes -->
                                    <!-- ko if: $index() > 0 -->
                                    <span> - </span>
                                    <!-- /ko -->
                                    <span data-bind="text: $data"></span>
                                <!-- /ko -->
                            </div>
                            <div class="col-md-6">
                                <div class="float-md-right">
                                    Choose Quantity
                                    <a data-bind="click: decreaseQty" href="javascript:void(0)">-</a>
                                    <span data-bind="quantity" style="color: orange"></span>
                                    <a data-bind="click: increaseQty" href="javascript:void(0)">+</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-md-6"><span class="font-weight-bold">Price:</span><span data-bind="text: price"></span></div>
                            <div class="col-md-6">
                                <div class="float-md-right">
                                    <img src="~/Content/imgs/language.svg" />
                                    <img src="~/Content/imgs/cart.svg" />
                                    <img src="~/Content/imgs/favourite.svg" />
                                    <a href="javascript:void(0)" role="button" class="btn btn-warning">Order now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
        <!-- <div class="card card-outline-secondary"> -->
            <div class="card-body text-center ">
                <h3 class="title">Related produts</h3>
                <div class="row">
                    <!-- ko foreach: relatedProducts -->
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="javascript:void(0);" data-bind="click: detailsLink">
                                <img data-bind="attr: { src: imageUrl1 }" class="card-img-top" src="" alt="">
                                <div class="card-body">
                                    <h4 data-bind="text: caption" class="card-title"></h4>
                                    <h5 data-bind="text: price"></h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        <!-- </div> -->
        <!-- /.card -->
        <div class="col-lg-12 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <h5 class="text-uppercase news-letter">NEWS LETTER</h5>
                    </div>
                    <div class="col-lg-3 pt-4">
                        <span class="font-italic text-center">type your mail here</span>
                    </div>
                    <div class="col-lg-3 pt-3">
                        <button type="button" class="btn btn-deep-orange text-uppercase font-weight-bold float-md-right join-us">join us</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- /ko -->
@section scripts {
    <script type="text/javascript">

     var Products = Products || {};

     const endpoints = {
         LoadDetails: "@Url.RouteUrl("Products", new { action = "LoadDetails", id = Model })"
     };

     const productImage1UrlTemplate = "@SettingsHelper.ProductImage1TemplateUrl";
     const productImage2UrlTemplate = "@SettingsHelper.ProductImage2TemplateUrl";
     const productImage3UrlTemplate = "@SettingsHelper.ProductImage3TemplateUrl";

     var productDetails = new Products.Details();
     productDetails.init();

     ko.applyBindings(productDetails);

    </script>
}
