
@{
    ViewBag.Title = "Details";
}

@model Guid

<!-- ko with: productDetails -->
<div class="container">
    <div class="row">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img" src="http://placehold.it/400x400" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title" data-bind="text: caption"></h1>
                        <p class="card-text" data-bind="html: description"><p>
                        <h3 class="card-title">24.99 RSD</h3>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                Choose Size
                                <!-- ko foreach: availableSizes -->
                                    <span data-bind="text: Caption"></span>-
                                <!-- /ko -->
                            </div>
                            <div class="col-md-6">
                                <div class="float-md-right">
                                    Choose Quantity
                                    <a href="javascript:void(0)">-</a>
                                    <span style="color: orange">$value$</span>
                                    <a href="javascript:void(0)">+</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row mt-5">
                            <div class="col-md-6"><span class="font-weight-bold">Price:</span><span data-bind="text: price"></span></div>
                            <div class="col-md-6">
                                <div class="float-md-right">
                                    <img src="~/Content/imgs/language.svg" />
                                    <img src="~/Content/imgs/cart.svg" />
                                    <img src="~/Content/imgs/favourite.svg" />
                                    <a href="javascript:void(0)" role="button" class="btn btn-warning">Order now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
        <!-- <div class="card card-outline-secondary"> -->
            <div class="card-body text-center ">
                <h3 class="title">Related produts</h3>
                <div class="row">
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="product.html">Item One</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="product.html">Item Two</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Item Three</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="shop-item.html">Item Four</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <!-- /.card -->
        <div class="col-lg-12 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <h5 class="text-uppercase news-letter">NEWS LETTER</h5>
                    </div>
                    <div class="col-lg-3 pt-4">
                        <span class="font-italic text-center">type your mail here</span>
                    </div>
                    <div class="col-lg-3 pt-3">
                        <button type="button" class="btn btn-deep-orange text-uppercase font-weight-bold float-md-right join-us">join us</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>

<!-- /ko -->
@section scripts {
    <script type="text/javascript">

     var Products = Products || {};

     const endpoints = {
         LoadDetails: "@Url.RouteUrl("Products", new { action = "LoadDetails", id = Model })"
     };

     var productDetails = new Products.Details();
     productDetails.init();

     ko.applyBindings(productDetails);

    </script>
}
