
@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img class="card-img" src="http://placehold.it/400x400" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">Product Name</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
                        <h3 class="card-title">24.99 RSD</h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
        <div class="card card-outline-secondary">
            </div>
            <div class="card-body text-center ">
                <h3 class="title">Related produts</h3>
                <div class="row">
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="product.html">Item One</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="product.html">Item Two</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">Item Three</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card h-90">
                            <a href="product.html"><img class="card-img-top" src="http://placehold.it/200x200" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="shop-item.html">Item Four</a>
                                </h4>
                                <h5>24.99 RSD</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.row -->
</div>
