
@{
    ViewBag.Title = "List";
}

<!-- ko with: products -->
<div class="container">
    <div class="row">

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title filters-title">Categories</h4>
                    <div class="list-group">
                        <!-- ko foreach: categoryFilters-->
                        <a href="#" class="list-group-item" data-bind="text: caption"></a>
                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title filters-title">Sizes</h4>
                    <div class="list-group">
                        <!-- ko foreach: sizeFilters-->
                        <div class="custom-control"> <!-- custom-checkbox -->
                            <input type="checkbox" @*class="custom-control-input"*@ data-bind="checked: $parent.selectedSizes, checkedValue: caption">
                            <label @*class="custom-control-label"*@ data-bind="text: caption"></label>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-body">
                    <h4 class="card-title filters-title">Brands</h4>
                    <div class="list-group">
                        <!-- ko foreach: brandFilters -->
                        <div class="custom-control"> <!-- custom-checkbox -->
                            <input type="checkbox" @*class="custom-control-input"*@ data-bind="checked: $parent.selectedBrands, checkedValue: caption">
                            <label @*class="custom-control-label"*@ data-bind="text: caption"></label>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="separator"></div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row text-center">

                <!-- ko foreach: items -->
                <div class="col-lg-4 col-md-6">
                    <a data-bind="attr: { href: detailsLink }">
                        <div class="card h-90">
                            <img class="card-img-top" src="http://placehold.it/200x200" alt="">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="product.html" data-bind="text: caption"></a>
                                </h4>
                                <h5 class="price font-weight-bold" data-bind="text: price"></h5>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /ko -->
                <div class="col-lg-12">
                    <a class="btn btn-lg btn-block load-more">...</a>
                </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
        <!-- /.col-lg-9 -->

        <div class="col-lg-12 card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-5">
                        <h5 class="text-uppercase news-letter">NEWS LETTER</h5>
                    </div>
                    <div class="col-lg-3 pt-4">
                        <span class="font-italic text-center">type your mail here</span>
                    </div>
                    <div class="col-lg-3 pt-3">
                        <button type="button" class="btn btn-deep-orange text-uppercase font-weight-bold float-md-right join-us">join us</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    
    <!-- /.row -->
    </div>
<!-- /.container -->

<!-- /ko -->

@section scripts {
 <script type="text/javascript">

     var Products = Products || {};

     const endpoints = {
         Search: "@Url.RouteUrl("Products", new { action = "Search"})",
         Filters: "@Url.RouteUrl("Products", new { action = "Filters" })",
         Details: "@Url.RouteUrl("Products", new { action = "Details", id = "id" })"
     };

     var products = new Products.List();
     products.init();
     products.search();

    ko.applyBindings(products);

</script>
}
