
@{
    ViewBag.Title = "Shopy";
}

<!-- ko with: products -->
        <div class="col-lg-3">

            <!-- category filters -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="price" data-bind="click: unsetSelectedCategory" href="javascript:void(0);">Categories</a>
                     </h4>
                    <div class="list-group">
                        <!-- ko foreach: categories-->
                        <a href="javascript:void(0);" 
                           class="list-group-item serif"
                           data-bind="css: { price: selected }, text: caption, click: $root.setSelectedCategory">
                        </a>
                        <!-- /ko -->
                    </div>
                </div>
            </div>

            <!-- price filers -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title selected">Prices</h4>
                    <div id="sliderDouble" class="slider slider-info"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="minInput">From</label>
                            <input type="number" class="form-control" id="minInput">
                        </div>
                        <div class="col-sm-6">
                            <label for="maxInput">To</label>
                            <input type="number" class="form-control" id="maxInput">
                        </div>
                        
                    </div>
                </div>
            </div>

            <!-- size filters -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a data-bind="click: unsetSizeFilters" href="javascript:void(0);">Sizes</a>
                    </h4>
                    <div class="list-group">
                        <!-- ko foreach: sizes-->
                        <div class="custom-control custom-checkbox">
                            <input data-bind="attr: {id: id}, checked: $parent.selectedSizes, checkedValue: id" type="checkbox" class="custom-control-input">
                            <label data-bind="text: caption, attr: {for: id}" class="custom-control-label"></label>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>


            <!-- brand filters -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title selected">
                        <a data-bind="click: unsetBrandFilters" href="javascript:void(0);">Brands</a>
                    </h4>
                    <div class="list-group">
                        <!-- ko foreach: brands -->
                        <div class="custom-control custom-checkbox">
                            <input data-bind="attr: {id: id}, checked: $parent.selectedBrands, checkedValue: id"type="checkbox" class="custom-control-input">
                            <label data-bind="text: caption, attr: {for: id}" class="custom-control-label"></label>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="separator"></div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="row text-center">

                <!-- ko foreach: items -->
                <div class="col-lg-4 col-md-6">
                    <span data-bind="attr: { href: detailsLink }">
                        <div class="card h-90" data-bind="event: { mouseover: toogleDetails, mouseout: toogleDetails }">
                            <img data-bind="attr: { src: image1Url }, css: { 'cart-img-small': detailsVisible, 'm-auto': detailsVisible }" class="card-img-top" alt="">
                            <div class="card-body">
                                <h4 data-bind="text: caption, css: { price: detailsVisible }" class="card-title"></h4>
                                <h5 data-bind="text: price, visible: !detailsVisible()" class="price font-weight-bold"></h5>
                                <div data-bind="visible: detailsVisible">
                                    <div class="pt-3 m-auto">
                                        <span class="mr-2 serif">sizes: </span>
                                        <!-- ko foreach: $data.sizes -->
                                            <!-- ko if: $index() > 0 -->
                                            <span> - </span>
                                            <!-- /ko -->
                                        <span  class="my-2 font-weight-normal serif-font text-lowercase" 
                                              data-bind="text: $data.id"></span>
                                        <!-- /ko -->
                                    </div>
                                    <div class="pt-3 border-bottom mx-auto mb-3">
                                        <div class="mb-4">
                                            <span class="dot bg-danger"></span>
                                            <span class="dot bg-primary"></span>
                                            <span class="dot bg-info"></span>
                                            <span class="dot bg-success"></span>
                                        </div>
                                    </div>
                                    <div class="pt-3 mx-auto">
                                        <img src="~/Content/imgs/language.svg" />
                                        <img class="ml-4 mr-4" src="~/Content/imgs/cart.svg" />
                                        <img src="~/Content/imgs/favourite.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /ko -->
                <div class="col-lg-12">
                    <a data-bind="click: loadMoreProducts" href="javascript:void(0);" class="btn btn-lg btn-block load-more">
                        <span class="dot-sm mr-1"></span>
                        <span class="dot-sm mr-1"></span>
                        <span class="dot-sm"></span>
                    </a>
                </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
        <!-- /.col-lg-9 -->

<!-- /ko -->

@section scripts {
<script src="~/Content/js/core/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/js/core/popper.min.js" type="text/javascript"></script>
<script src="~/Content/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="~/Content/js/plugins/moment.min.js"></script>
<script src="~/Content/js/plugins/nouislider.min.js" type="text/javascript"></script>
<script src="~/Content/js/material-kit.js" type="text/javascript"></script>


 <script type="text/javascript">

     var Products = Products || {};

     const endpoints = {
         Search: "@Url.RouteUrl("Products", new { action = "Search"})",
         Filters: "@Url.RouteUrl("Products", new { action = "Filters" })",
         Details: "@Url.RouteUrl("Products", new { action = "Details", id = "id" })"
     };

     const productImage1UrlTemplate = "@SettingsHelper.ProductImage1TemplateUrl";

     var products = new Products.List();
     products.init();
     products.search();

     ko.applyBindings(products);

</script>
<script>
    $(document).ready(function() {
        var slider = new Slider();
        slider.create(products);
    })
</script>
}
