
@{
    ViewBag.Title = "Error";
}

<div class="col-md-12 m-auto">
    <h2>Unknown error</h2>
    <a href="@Url.RouteUrl("Products", new { action = "Index"} )" class="btn btn-secondary btn-lg ">Go to home</a>
</div>