<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- enter the api address assign on your machine -->
    <add key="ApiBaseAddress" value="http://localhost:50253/api" />
    <!-- images storage location -->
    <add key="ImagesDirectoryUrl" value="http://localhost:50253/Images" />
    <!-- enter a valid directory name under here where you extract the project -->
    <add key="ImagesRootDirectoryName" value="Images" />
    <add key="Image1Name" value="main.png" />
    <add key="Image2Name" value="second.png" />
    <add key="Image3Name" value="third.png" />
    <add key="EmptyImageName" value="empty-img.png" />
  </appSettings>
</configuration>