@model Shopy.Admin.ViewModels.CategoryViewModel

<div class="mb-3 col-md-12">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, "", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name)
</div>
<hr class="col-md-10 mb-4" />
<div class="col-md-9 row">
    <div class="col-md-6 mb-3">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
    </div>
    <div class="col-md-6 mb-3">
        <a href="@Url.RouteUrl("Categories", new { action = "List"})" class="btn btn-secondary btn-lg btn-block">Cancel</a>
    </div>
</div>