
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Shopy.Admin.ViewModels;
@model AddCategoryViewModel
<div class="col-md-6 order-md-1">
    <div class="col-md-6 mb-4">
        <h2>Add category</h2>
    </div>
@using (Html.BeginRouteForm("Categories", new { action = "Add" }))
{
    <div class="mb-3 col-md-12">
        @Html.LabelFor(m => m.Caption)
        @Html.TextBoxFor(m => m.Caption, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Caption)
    </div>
    <hr class="col-md-10 mb-4" />
    <div class="col-md-9 row">
        <div class="col-md-6 mb-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
        <div class="col-md-6 mb-3">
            <a href="@Url.RouteUrl("Categories", new { action = "List"})" class="btn btn-secondary btn-lg btn-block">Cancel</a>
        </div>
    </div>
}
</div>

